{{ partial "page-header" . }}

<div class="post-header">
  <div class="container">
    <div class="content">
      <h2>Notes</h2>
      <p class="no-bottom-margin">
        The items below link to various notes that I've made for reference which aren't quite enough to stand in its own blog post.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="note-container">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "note") }}
    {{ range where site.RegularPages "Type" "note" }}
      {{ .Render "summary" }}
    {{ end }}
  </div>
</div>


{{ partial "footer" . }}