{{ partial "page-header" . }}

<div class="post-header">
  <div class="container">
    <div class="content">
      <h2>Tags</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="note-container">
    {{ range .Data.Terms.ByCount }}
    <a href="{{ .Page.Permalink }}" class="note-summary panel-link">
      <div>
        <h2 class="summary">{{ .Page.Title }}</h2>
        <p>
          {{ .Count }} posts
        </p>
      </div>
    </a>
    {{ end }}
  </div>
</div>

{{ partial "footer" . }}