{{ partial "header" . }}

<div class="post-header">
  <div class="container">
    <div class="content">
      <h2>Tags</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="content tag-list">
    {{ $baseurl := .Site.BaseURL }} {{ $data := .Data }} {{ range $key,$value := .Data.Terms.ByCount }}
    <a href="{{ $baseurl }}{{ $data.Plural }}/{{ $value.Name | urlize }}" title="{{ $value.Name }}" alt="{{ $value.Name }}" class="tag-item">{{ $value.Name }} ({{ $value.Count }})</a><br />
    {{ end }}
  </div>
</div>

{{ partial "footer" . }}