{{ partial "page-header" . }}

<div class="post-header">
  <div class="container">
    <div class="content">
      {{ partial "shared/page/breadcrumbs" . }}
      <h2>Posts</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="content">
    <div>
      {{ $posts := .RegularPagesRecursive.ByDate.Reverse }}
      {{ $paginator := .Paginate $posts }}

      {{ $currentYear := "" }}
      {{ range $paginator.Pages }}
        {{ $year := .Date.Format "2006" }}
        {{ if ne $year $currentYear }}
          {{ if ne $currentYear "" }}</div>{{ end }}
          <h3>{{ $year }}</h3>
          <div style="padding-left: 2rem; padding-bottom: 1rem">
          {{ $currentYear = $year }}
        {{ end }}
        {{ .Render "summary-list-item" }}
      {{ end }}
      {{ if ne $currentYear "" }}</div>{{ end }}

      {{ partial "widgets/pager" . }}
    </div>
  </div>
</div>

{{ partial "footer" . }}