{{ partial "page-header" . }}
<div class="site-summary">
  <div class="container">
    <p>
      This is a blog about software development, general tech stuff and some completely random junk!
    </p>
  </div>
</div>

<div class="container">
  <div class="section-header">
    <h2>Most recent blog posts</h2>
  </div>

  {{ range first 5 (where site.RegularPages "Type" "in" site.Params.indexSections).ByDate.Reverse }}
    {{ .Render "homepage-summary" }}
  {{ end }}

  <div class="link-panel text-right">
    <a class="button primary" href="/blog/">All blog posts &gt;</a>
  </div>
</div>

{{ partial "footer" . }}
